body {
    font-family: Arial;
    background: #f5f7fa;
    margin: 0;
    padding: 20px;
}
.container {
    max-width: 500px;
    margin: auto;
    text-align: center;
    padding: 5px;
}
#drop-area {
    border: 2px dashed #007bff;
    padding: 3px;
    border-radius: 80px;
    background: white;
    cursor: pointer;
}
#file-list {
    list-style: none;
    padding: 0;
}
#file-list li {
    background: white;
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}
button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 80px;
    font-size: 16px;
}
#progress {
    margin-top: 20px;
    height: 10px;
    background: #ddd;
    border-radius: 40px;
}
.bar {
    height: 100%;
    width: 0%;
    background: #28a745;
    border-radius: 40px;
}
.hidden {
    display: none;
}
#NewName {
  padding: 10px 15px;
  width: 60%;
  border: 1px solid #ddd;
  border-radius: 80px;
  font-size: 15px;
  transition: all 0.3s ease;
}
#NewName:focus {
  border-color: #4CAF50;
  box-shadow: 0 0 8px rgba(76, 175, 80, 0.3);
  outline: none;
}
#pagesInput {
  padding: 10px 15px;
  width: 60%;
  border: 1px solid #ddd;
  border-radius: 80px;
  font-size: 15px;
  transition: all 0.3s ease;
}
