<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>دمج وتحرير ملفات PDF</title>
<!-- FileSaver.js for cross-platform downloads -->
<script src="https://cdn.jsdelivr.net/npm/file-saver@2.0.5/dist/FileSaver.min.js"></script>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="container">
    <h1>دمج ملفات PDF</h1>
    <div id="drop-area">
        <p>اسحب الملفات هنا أو اضغط للاختيار</p>
        <input type="file" id="fileElem" multiple accept="application/pdf">
    </div>  
    <ul id="file-list" class="file-list"></ul>
<p>
    <input type="text" id="NewName" placeholder="اكتب الاسم الجديد للملف المدموج"/>
    <button id="mergeBtn">دمج الملفات</button>
    <div id="progress" class="hidden">
        <div class="bar"></div>
    </div>
 <hr>
    <h2>حذف صفحات من ملف PDF</h2>
    <input type="file" id="deleteFile" accept="application/pdf">
    <br><br>
    <div id="deleteProgress" class="hidden" style="margin-top:10px; height:10px; background:#ddd; border-radius:40px;">
    <div class="deleteBar" style="height:100%; width:0%; background:#28a745; border-radius:40px;"></div>
    </div>
    <input type="text" id="pagesInput" placeholder="مثال: 2,5,7-10">
    <button onclick="deletePages()">حذف الصفحات</button>
</div>
    <!-- Toast -->
<div id="toast" class="toast"></div>
<script src="/static/script.js"></script>
</body>
</html>
